@use "../styles/abstracts/variables" as var;

.header {
  border-bottom: 1px solid var.$primary-color;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
}

.header-branding {
  color: var.$primary-color;
}

.main {
  flex: 1;
  padding: 3rem 0;
}

.footer {
  text-align: center;
  padding: 1rem 0;
}
