@use "../../../styles/abstracts/variables" as var;

a {
  color: var.$primary-color;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: all 0.2s linear 0s;

  &:hover,
  &:focus {
    color: var.$primary-color-light;
  }

  &:hover {
    text-decoration-thickness: 1px;
  }

  &:active {
    color: var.$primary-color-dark;
  }
}

a[data-kind="nav"] {
  display: block;
  padding: 0.5rem 1rem;
  background: var.$background-color;

  &:focus {
    background: var.$primary-color;
    color: var.$foreground-color-alt;
    outline: none;
    transition: none;
  }
}
